/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/spec/dummy_app/log
/spec/dummy_app/db
/spec/dummy_app/tmp
/spec/dummy_app/storage/*.sqlite3
.env*

/log

/coverage
